{
    "env": {
      "es6": true,
      "node": true
    },
    "extends": [
      "airbnb-typescript/base",
      "prettier/@typescript-eslint",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ],
    "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module",
      "project": "./tsconfig.json",
      "tsconfigRootDir": "./"
    },
    "rules": {
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
    }
  }